@import url('/components/styles/gf-base.css');

button {
  background-color: var(--gf-primary);
  border-radius: 2rem;
  border: none;
  color: var(--gf-on-primary);
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.75rem 1.25rem;
}

button:hover {
  background-color: #2e37be;
}
