@import url('/components/styles/gf-base.css');

button {
  margin-top: 10px;
  background-color: var(--gf-primary);
  border-radius: 0.125rem;
  border: none;
  color: var(--gf-on-primary);
  font-weight: bold;
  padding: 0.5rem 1rem;
}

button:hover {
  background: linear-gradient(0deg, rgba(14, 23, 31, 0.1), rgba(14, 23, 31, 0.1)), #186ADE;
}

button:active {
  background: linear-gradient(0deg, rgba(14, 23, 31, 0.2), rgba(14, 23, 31, 0.2)), #186ADE;
}

button i {
  margin: 0 5px;
}