@import url('/components/styles/gf-base.css');

button {
  background-color: var(--gf-primary);
  border-radius: 0.125rem;
  border: none;
  color: var(--gf-on-primary);
  font-weight: bold;
  padding: 0.5rem 1rem;
}
