:host {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  .card-body {
    padding: 10px;
  }


  :host([expanded="false"]) .card-body,
  :host([expanded="false"]) .card-footer {
    display: none;
  }