@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

html, body {
  font-family: 'Darker Grotesque', Arial, Helvetica, sans-serif;
}

.invalid {
  border-color: red;
  border-radius: 0.25rem;
  background-color: lightpink;
}